// SIZE VARIABLES
$fullHeightVp: 100vh;
$fullWidthVp: 100vw;

$fullSizePercent: 100%;
$wrapper: 940px;

// SPACE VARIALBES
$xs-space: 5px;
$sm-space: 10px;
$m-space: 15px;
$l-space: 20px;
$xl-space: 30px;
