.filter-container {
  @include fullSizeWH;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: map-get($colors, backgroundCol);
}

.filter-wrapper {
  // padding-top: 9rem;
  max-width: $wrapper;
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-top: 8rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0rem;
}

.rowEmail {
  display: none;
  @include respond-to(small) {
    display: block;
  }
}

.mailIcon {
  display: block;
  cursor: pointer;
  @include respond-to(small) {
    display: none;
  }
}

.search-container {
  display: flex;
}

.search-btn {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 0.5rem;
}

th {
  text-align: center;
  padding: 0.5rem;
  font-weight: normal;
  @include respond-to(small) {
    text-align: left;
    padding: 0.9rem;
  }
}

.mailRow {
  a {
    display: flex;
    justify-content: center;
  }
}

.tableCat {
  background: map-get($colors, tableHeaderCol);
  th {
    padding: 1rem;
    @include respond-to(small) {
      padding: 1.5rem 0.9rem;
    }
  }
}

table, th {
  border-bottom: 1px solid map-get($colors, tableLineCol);
  border-collapse: collapse;
  p {
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
  }
}
