/*
*style audio tag
*/

.playImg {
  // position: fixed;
  // right: 0;
  // bottom: 0;
  display: none;
  // cursor: pointer;
}

// .playImg:active {
//   transform: translateY(2px);
// }

.triangle {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  fill: pink;
}

.triangle:active {
  transform: translateY(2px);
  // transition: transform 3s ease-in-out;
}

#pause {
  display: none;
}
