.home-wrapper {
  @include fullSizeWH;
  @include flexColumnCenterCenter;
}

.img {
  max-width: 200px;
}

.test_bg {
  width: 200px;
	height: 200px;
  background: url(img/bg.png) no-repeat center center scroll;
  background-size: cover;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -3;
  min-height: 100%;
}

.circle {
  animation: rotating 4s linear infinite;
}

.triangle {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  fill: pink;
}

.triangle:active {
  transform: translateY(2px);
  // transition: transform 3s ease-in-out;
}

#pause {
  display: none;
}
