$colors: (
  white: #FFF,
  whiteOpacity: rgba(249,249,249, 0.95),
  loaderSmallBg: #f1f1f1,
  fieldcolor: rgba(255, 255, 255, .6),
  fieldcolorHover: rgba(255, 255, 255, .8),
  black: rgb(0,0,0),
  blackOpacity: rgba(0,0,0,0.3),
  darkGrey: darkgrey,
  pink: pink,
  darkGreen: #121f1f
);

@function colors($key: 'white') {
  @return map-get($colors, $key);
}
