header {
  position: fixed;
  background: rgba(0,0,0,0.4);
  width: 100vw;
  padding: 1rem;
  z-index: 100;
  @include flexCenterCenter;
}

.menu-ul {
  width: 80vw;
  @include flexCenterSB;
  li {
    a {
      color: white;
    }
  }
}
